/*Palette:
	Visited links: #05070A;
	Titles and important text: #2B030B;
	General background: #CB9CF2;
	Highlight background: #9E7B9E;
	More highlights: #616283;

*/

/* Base */
html, body, form { 
	margin: 0 auto;
	background-color: #CB9CF2;
	font-family: 'Andika', sans-serif;
	padding-left: 10%;
}

a { color: #2B030B; }
a:hover { color: #05070A; }
h1, h2, h3 { font-family: 'Federo', sans-serif; color: #2B030B;  }


img {
	margin: 0 auto;
	max-width: 100%;
}

/* lists of icons */

ul.horizontal-list {
	text-align: center;
	list-style: none;
}

ul.horizontal-list li {
	display: inline-block;
	font-size: 2em;
	padding: 0 10%;
}

/*Accordioning*/

h4:hover {
	color: #616283;
}

